.users {
  margin: 12.3rem 0 18.5rem;
}

.user-view__actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.6rem;
}

.user-view__table {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-ebedf3);
  box-shadow: 0px 0px 30px #523F690D;
  border-radius: 6px;

  padding-bottom: 7.8rem;
}