<div class="user-view" ng-controller="UserViewController">
    <div class="user-view__actions">
        <button class="primary" ng-click="addUser()">
            Create User
        </button>
    </div>
    <div class="user-view__table">
        <table>
            <thead>
            <tr>
                <th>USERNAME</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>EMAIL</th>
                <th>TYPE</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.user_type}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>