@import "./styles/reset.css";

/* Components */
@import "styles/components/table.scss";
@import "styles/components/button.scss";

/* Layout */
@import "styles/layout/users.css";
@import "styles/layout/user-form.css";
@import "styles/layout/form.css";

html {
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    line-height: 100%;
}

body {
    color: #000;
    background: var(--unnamed-color-eef0f8) 0% 0% no-repeat padding-box;
    margin: 0 46px;
    overflow-x: hidden;
}

:root {
    /* Colors: */
    --unnamed-color-f44682: #F44682;
    --unnamed-color-eff0f4: #EFF0F4;
    --unnamed-color-f4f5f8: #F4F5F8;
    --unnamed-color-66bb6a: #66BB6A;
    --unnamed-color-ccd2e2: #CCD2E2;
    --unnamed-color-ef7da0: #EF7DA0;
    --unnamed-color-a4a4b5: #A4A4B5;
    --unnamed-color-f3f6f9: #F3F6F9;
    --unnamed-color-3f4254: #3F4254;
    --unnamed-color-2e8ff0: #2E8FF0;
    --unnamed-color-ebedf3: #EBEDF3;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-eef0f8: #EEF0F8;

    /* Font/text values */
    --unnamed-font-family-helvetica: Helvetica;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-300: 300;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;

    --unnamed-font-size-13: 13px;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;

    --unnamed-character-spacing-0: 0px;

    --unnamed-line-spacing-16: 16px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-19: 19px;

    --unnamed-text-transform-uppercase: uppercase;
}